# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds, only if generated
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local


# OS
.DS_Store
Thumbs.db